*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* /header and navbar/ */
.header{
   width: 100%;
   height: 100vh;
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
   background-position: center;
   background-size: cover;
}

.header nav{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 0px 2%;
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
    transition: background 1s, padding 0.5s;
}
.menubar.active{
    background-color:black;
    padding: 5px 6%;
}

nav h1{
    padding-top: 5px;
    width: 200px;
    color: white;
}
.menubar.active h1{
    color: aqua;
}

nav ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

nav ul li{
    position: relative;
    padding: 0px 5px;
}

nav ul li a{
    display: block;
    font-size: 15px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 6px 15px;
    margin-top: 20px;
    width: max-content;
}

.navicon{
    display: none;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}

nav ul li a:hover{
    background:white;
    color:black;
}

nav ul li.active a{
    background:white;
    color:black; 
}

.mobilemenu{
    margin-left: 0%;
}

.centerlogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.centerlogo h1{
    font-size: 193px;
    color:transparent;
    -webkit-text-stroke: 1px white;
    background:url(../images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.centerlogo button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid white;
    background: transparent;
    padding: 10px 20px;
    font-size: 30px;
    color: aliceblue;
    border-radius: 5px;    
}

.centerlogo button:hover{
    border: 1px solid white;
    color: rgb(11, 9, 9); 
    background: white;  
}


/*----------About part-------*/

#about{
    padding: 100px 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width:60%;  
    margin-left: 25%;  
}

.about-right-col{
    flex-basis: 50%;
    text-align: right;
    
}
.about-text{
    max-width: 700px;
    margin-right: 50px;
    display: inline-block;
}
.about-right-col h1{
    text-align: center;
}
/*-------features------*/
#feature{
    padding: 50px 30px;
}
.feature-row{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
    padding: 20px;
}

/* --------week book--------- */

#week-Book{
    padding: 100px 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#week-Book .most-read{
    width: 100vw;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.week-Book-left-col{
    flex-basis: 50%;
}

.week-Book-Text{
    max-width: 800px;
    margin-left: 50px;
    display: inline-block;
    text-align: left;
}

.week-Book-Text h1{
    font-size: 40px;
}

.week-Book-Text h2{
    font-size: 20px;
    padding-bottom: 15px;
}

.week-Book-Text p{
    font-size: 13px;
}

.week-Book-right-col{
    flex-basis: 50%;  
}
.week-Book-right-col img{
    width:40%;
    margin-left: 300px;
    border: 5px solid red;


}

/* footer part */

.footer{
    width: 100%;
    position:relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius: 105px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;    
    place-items: center;
    text-align: center;
}

.col li{
    list-style: none;
    padding-top: 20px;
}
.col li a{
    text-decoration: none;
    color: #fff;
}

.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.col .address{
    line-height:10px;
}
.email-id{
    font-size: 15px;
}
.phone_no{
    font-size: 15px;
}

.social-icons .fa-brands{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.social-icons .fi{
    text-decoration: none;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
.footer-logo{
    text-align: center;
    margin-bottom: -20px;
    font-size: 50px;
    color:transparent;
    -webkit-text-stroke: 1px white;
    background:url(../images/back.png);
    -webkit-background-clip : text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@keyframes back{
    100%{
    background-position: 2000px 0;
    }
}



@media only screen and (max-width: 900px ) {
    body {
      background-color:rgb(255, 255, 255);
    }
    .header nav{
        padding: 0px 0%;
    }
    .menubar.active{
        background-color:black;
        padding: 0px 0%;
    } 

    nav h1{
        padding-left: 20px;

    }     

    .centerlogo h1{
        font-size: 125px;
    }
    .centerlogo button{
        font-size: 25px;
        width: 200px;
        
    }
    
    .about-left-col,.about-right-col{
        flex-basis: 100%;
    }

}



@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .header nav{
        padding: 0px 0%;
    }
    .menubar.active{
        background-color:black;
        padding: 0px 0%;
    } 
    
    .navlink {
        top: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(71, 65, 48, 0.347);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;  
        margin-left: -100%;  
    }
    .navlink.mobilemenu{
        margin-left: 0%;
        transition: all 0.5s ease;
    }

    nav ul li a{
        font-size: 15px;
        margin-top: 30px;
    }

    .navicon{
        display: block;   
    }

    nav h1{
        padding-left: 20px;
        width: 200px;
        color: white;
    }
        
    .centerlogo h1{
        font-size: 50px;
    }
    .centerlogo button{
        font-size: 19px;
        width: 150px;
        position: absolute;
        left: 50%;
        border-radius: 5px; 
        
}


}